<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workpage</title>
</head>
<body class="h-full w-full bg-dark-darker flex gap-32 p-16 text-light-lighter font-sans">
  <main class="my-auto w-4/6">
		<!-- Clock -->
		<article class="flex flex-col items-center justify-center">
			<h1 class="text-7xl text-center">{{ time }}</h1>
			<h3 class="text-2xl text-center">{{ date }}</h3>
		</article>

		<!-- Projects -->
		<article>
			<button class="flex justify-center items-center cursor-pointer select-none bg-light-lighter text-dark-darker py-1 pr-4 rounded mt-4 mx-auto">
				<h2 class="text-2xl flex items-center gap-1">
					<svg
						class="h-6 pl-2 pr-1"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
					>
						<path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z" />
						<path
							fill-rule="evenodd"
							d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z"
							clip-rule="evenodd"
						/>
					</svg>
					Project title
				</h2>
			</button>
		</article>

		<!-- Links -->
		<article class="w-full mt-16 flex flex-col gap-12 items-center">
			<section class="flex justify-between w-full">
				<div
					v-for="(list, idx) in linkLists"
					:key="list.title"
					class="flex flex-col gap-2 w-3/12"
				>
					<header
						class="text-2xl px-4 py-1"
						:class="{
							'bg-red-lighter': idx == 0,
							'bg-blue-lighter': idx == 1,
							'bg-green': idx == 2,
						}"
					>
						{{ list.title }}
					</header>
					<wp-draggable class="bg-light-lighter text-dark-darker p-2 px-4">
						<div
							v-for="link in list.items"
							:key="link.id"
							class="flex items-center my-2"
						>
							{{ link.title }}
						</div>
					</wp-draggable>
				</div>
			</section>
			<section class="grid grid-cols-2 divide-x">
				<button class="px-4 text-right">Add bookmark</button>
				<button class="px-4 text-left">Add catalogue</button>
			</section>
		</article>
  </main>
  <aside class="w-2/6 h-full flex flex-col gap-6 justify-between">
		<!-- Tasks -->
		<article class="w-full h-full">
			<header class="flex justify-center items-center gap-2 mb-6">
				<h1 class="text-3xl">Todo</h1>
				<svg
					class="h-10"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
				>
					<path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
					<path
						fill-rule="evenodd"
						d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm9.707 5.707a1 1 0 00-1.414-1.414L9 12.586l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
						clip-rule="evenodd"
					/>
				</svg>
			</header>

			<section>
				<div class="bg-dark p-2 px-4 rounded">
					<h2 class="font-bold">Current task:</h2>
					<wp-draggable>
						<wp-task
							class="pl-3 py-1 rounded"
							title="The task that is currently on the doing task field"
							due="28 Oct"
							spent="22h 12m"
							estimate="25h 0m"
							doing
						>
						</wp-task>
					</wp-draggable>
				</div>
				<div class="max-h-1/2-screen overflow-auto">
					<wp-draggable
						group="tasks"
						:list="todoList"
					>
						<wp-task
							v-for="task in todoList"
							:key="task.id"
							class="py-2 pl-4 rounded"
							v-model:title="task.title"
							:due="task.details.due"
							:spent="task.details.spent"
							:estimate="task.details.estimate"
							@remove="removeTask(task)"
						>
						</wp-task>
					</wp-draggable>
				</div>
			</section>
			<button
				class="flex justify-center gap-2 items-center mt-4 mx-auto"
				@click="addTask"
			>
				<span>Add a new goal</span>
				<svg
					class="h-6"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
				>
					<path
						fill-rule="evenodd"
						d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
						clip-rule="evenodd"
					/>
				</svg>
			</button>
		</article>

		<!-- Timer -->
		<article class="container gap-x-4 gap-y-2">
			<header
				id="header"
				class="flex justify-center items-center cursor-pointer select-none"
			>
				<svg
					class="h-10"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
				>
					<path
						fill-rule="evenodd"
						d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
						clip-rule="evenodd"
					/>
				</svg>
			</header>
			<section id="status" class="flex flex-col">
				<h3 class="text-xl">{{ elapsedHuman }}</h3>
				<h4 class="text-sm">Session: 0h 12m 36s</h4>
			</section>
			<section id="goal" class="flex justify-end items-center gap-1 px-2 mt-auto">
				<svg
					class="w-4 text-light-darker"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
				>
					<path
						fill-rule="evenodd"
						d="M3 6a3 3 0 013-3h10a1 1 0 01.8 1.6L14.25 8l2.55 3.4A1 1 0 0116 13H6a1 1 0 00-1 1v3a1 1 0 11-2 0V6z"
						clip-rule="evenodd"
					/>
				</svg>
				<h5 class="text-sm text-center">0h 30m</h5>
			</section>
			<svg
				id="bar"
				class="w-full h-1"
				viewBox="0 0 100 2"
				preserveAspectRatio="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<line
					class="stroke-current text-dark"
					x1="1"
					y1="1"
					x2="99"
					y2="1"
					stroke-width="2"
					stroke-linecap="round"
				/>
				<line
					class="stroke-current text-light"
					x1="1"
					y1="1"
					x2="19"
					y2="1"
					stroke-width="2"
					stroke-linecap="round"
				/>
			</svg>
		</article>
  </aside>

  <script type="module" src="/src/main.js"></script>
</body>
</html>
