@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

textarea:-webkit-scrollbar {
  display: none;
}

textarea {
	scrollbar-width: none;
	resize: none;
}
